.custom-btn{
    color: white;
    border-radius: 18px;
    background-color: rgb(86,61,124);
    padding: 15px 25px;
}

.custom-btn:hover{
    color: white;
    background-color: rgb(56, 19, 110);
}

.card_css{
    color:white;
}

.card_css:hover{
    color: white;
    background-color: rgb(56, 19, 110);
}

.home_card:hover
{
    border-radius: 5px;
    background-color: rgb(56, 19, 110);
}
